header{
    text-align: center;
    background-color: black;
    padding: 14px;
    position: sticky;
    z-index: 1000;
    top:0;
}
h1 {
    color: #FFFFF0;
}

ul{
    display: flex;          
    list-style-type: none;  
    padding: 0;             
    margin: 0;
    gap: 20px;
}

a:hover{
    color:#D4AF37;
    cursor: pointer;

}
a:link{

    color: #FFFFF0;
    text-decoration: none;
}

a:visited{
    color: #FFFFF0;
    
}

nav{
    display: flex;
    justify-content: center;
    background-color: transparent;
            border-bottom: #D4AF37;}


    body{background-color: #FE6F5E
    }

